# Node.js
node_modules/
dist/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# MacOS
.DS_Store
